<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">

    <script src="https://kit.fontawesome.com/a86ee0198a.js" crossorigin="anonymous"></script>

    <title>Context Coding</title>
    <link rel="import" href="./templates/main-heading.html">

    <link rel="icon" href="../logo-1.ico" type="image/png">

  </head>
  <body>

    <div class="view-wrapper">

    <h1 class="main-heading" ><code class="logo-brackets">{</code><code class="logo-spread">...</code><code class="logo-letters">Context Coding</code><code class="logo-brackets">}</code></h1>

    <section class="page-section">
      <hr/>
      <h2><code class="logo-brackets">{</code><code class="logo-spread">...</code><code class="logo-letters">About</code><code class="logo-brackets">}</code></h2>

      <ul>
        <li>Context Coding is an app development program that aims to minimize the knowledge gap between experienced developers and brand new programmers by providing a mentorship-type of approach to education.</li>
        <li>I provide full stack software development coaching to those with little or no experience.</li>
        <li>I give new devs context of where to get started, how to build complex web applications, and I help my students pursue opportunities for employment.</li>
      </ul>
    </section>

    <section class="page-section">
      <hr/>
      <h2><code class="logo-brackets">{</code><code class="logo-spread">...</code><code class="logo-letters">Program Highlights</code><code class="logo-brackets">}</code></h2>

      <div class="section-2-container" >

        <div class="section-2-card">
          <h4>Portfolio</h4>
          <ul>
            <li>Over 20 apps built from scratch.</li>
            <li>5 Milestone Projects published</li>
          </ul>
        </div>

        <div class="section-2-card">
          <h4>Personal Website</h4>
          <ul>
            <li>Your final project.</li>
            <li>Your professional portfolio as a website.</li>
          </ul>
        </div>

        <div class="section-2-card">
          <h4>Custom App</h4>
          <ul>
            <li>Create an app from your own ideas.</li>
            <li>Demonstrate understanding of full-stack design patterns.</li>
          </ul>
        </div>

        <div class="section-2-card" >
          <h4>Time Commitment</h4>
          <ul>
            <li>28 Weeks</li>
            <li>17-20 hours/week</li>
          </ul>
        </div>

        <div class="section-2-card">
          <h4>Network</h4>
          <ul>
            <li>You will be learning with others at the same skill level.</li>
            <li>Programming meetup events you will be attending.</li>
            <li>Building a network during the job search itself.</li>
          </ul>
        </div>

        <div class="section-2-card">
          <h4>Job Search Support</h4>
          <ul>
            <li>How to identify opportunities for employment.</li>
            <li>Tracking all opportunities.</li>
            <li>How to get noticed out of the pile of applications.</li>
            <li>Making your portfolio stick out.</li>
            <li>Mock interviews for practice.</li>
            <li>Building your resume, and Linkedin.</li>
          </ul>
        </div>

        <div class="section-2-card">
          <h4>After Context</h4>
          <ul>
            <li>Use Context resources to reference what to learn next.</li>
            <li>Show up to the biweekly After Context session for coaching sessions.</li>
          </ul>
        </div>

      </div>

    </section>

    <section class="page-section">
      <hr/>
      <div>

        <h2><code class="logo-brackets">{</code><code class="logo-spread">...</code><code class="logo-letters">Program Units</code><code class="logo-brackets">}</code></h2>

        <ol id="unit-list">
        </ol>

      </div>
    </section>

    <section class="page-section">
      <hr/>
      <div>

        <h2><code class="logo-brackets">{</code><code class="logo-spread">...</code><code class="logo-letters">Free Lessons</code><code class="logo-brackets">}</code></h2>

        <ul>
          <li>The first few lessons are absolutely free!</li>
          <li>This will give you the opportunity to try out the Context Coding curriculum, so you can see if you enjoy my teaching style.</li>
          <li>These lessons are designed to give you a boost in your understanding of basic web fundamentals, so you can spring into the more difficult parts of web development starting day 1 of the curriculum.</li>
          <li>After seeing what Context Coding is all about, it is up to you if you would like to continue the program.</li>
        </ul>

      </div>
    </section>

    <section class="page-section">
      <hr/>
      <h2><code class="logo-brackets">{</code><code class="logo-spread">...</code><code class="logo-letters">Mission</code><code class="logo-brackets">}</code></h2>
      <p><a href="./why-i-started-context-coding.html">Click here</a> to learn why I started Context Coding.</p>
    </section>

    <section class="page-section footer-section">
      <hr/>
      <h2 class="footer-header"><code class="logo-brackets">{</code><code class="logo-spread">...</code><code class="logo-letters">Finding Context</code><code class="logo-brackets">}</code></h2>
      <footer>

        <div class="find-us-list">

          <div class="find-us-list-item-wrapper">
            <a href="https://instagram.com/context_coding" target="__blank"><i class="fab fa-instagram-square fa-5x find-us-list-item"></i></a>
          </div>

          <div class="find-us-list-item-wrapper">
            <a href="https://www.facebook.com/Context-Coding-111427201346664" target="__blank"><i class="fab fa-facebook-square fa-5x find-us-list-item"></i></a>
          </div>

          <div class="find-us-list-item-wrapper">
            <a href="https://www.linkedin.com/in/chase-linzmeyer/" target="__blank"><i class="fab fa-linkedin fa-5x find-us-list-item"></i></a>
          </div>

          <div class="find-us-list-item-wrapper">
            <a href="https://twitter.com/ContextCoding" target="__blank"><i class="fab fa-twitter-square fa-5x find-us-list-item"></i></a>
          </div>

        </div>

        <p class="centered-p copyright">© Context Coding</p>
      </footer>
    </section>

    </div>

    <script src="../client-js/index.js"></script>

  </body>

</html>