<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">

    <script src="https://kit.fontawesome.com/a86ee0198a.js" crossorigin="anonymous"></script>

    <title>Context Coding Mission</title>
  </head>

<body>
  <div class="view-wrapper">

    <h1 class="main-heading" ><code class="logo-brackets">{</code><code class="logo-spread">...</code><code class="logo-letters">Mission</code><code class="logo-brackets">}</code></h1>

    <nav>
      <a class="nav-link" href="./index.html" ><i class="fas fa-angle-double-left"></i> Back To Main Page</a>
    </nav>

    <section class="page-section">
      <h2 class="p-heading"><code class="logo-brackets">{</code><code class="logo-spread">...</code><code class="logo-letters">The Problem</code><code class="logo-brackets">}</code></h2>

      <p class="mission-p">Context Coding comes from a source of empathy for those who have no support in the pursuit of their goals to learn a new skill. In many workplaces, I've seen talented tradesmen who don't have the time or interest to take a moment in order to help newcomers get the proper training they deserve. I always see promises of a great onboarding experience but with no real plan in place to make that happen. Inevitably, the outcome is quick turnover, frustrated workers and little to no overall progress in the company's goals.</p>

      <h2 class="p-heading"><code class="logo-brackets">{</code><code class="logo-spread">...</code><code class="logo-letters">Root Cause</code><code class="logo-brackets">}</code></h2>

      <p class="mission-p">The cause of this issue is a classic and predictable one. The new worker shows up bright-eyed and bushy-tailed with an urge to help solve problems and take notes of best practices. They came to learn. Unfortunately the teacher didn't put time aside to teach. The professionals in the field boast about how much they have to teach, but when they are called on for their talent, their shifting priorties put teaching newcomers to the bottom of the list. The eager learner doesn't get any time from the pros in order to receive guidance, and they don't get their list of questions answered that they came prepared to ask. They end up going home wondering why they ever showed up with a notepad. They feel unsupported, unhelpful, and unfulfilled, so they start browsing job listings again.</p>

      <h2 class="p-heading"><code class="logo-brackets">{</code><code class="logo-spread">...</code><code class="logo-letters">I Understand</code><code class="logo-brackets">}</code></h2>

      <p class="mission-p">I know what this is like; I have personally been on the receiving end of bad onboarding experiences too often. That's why I have volunteered to train newhires at every place that I've worked. I know it's a problem in most workplaces, and I enjoy showing the new people around to give them a fair start in order to produce value on week one of their new job.</p>

      <h2 class="p-heading"><code class="logo-brackets">{</code><code class="logo-spread">...</code><code class="logo-letters">My Passion</code><code class="logo-brackets">}</code></h2>

      <p class="mission-p">I love training people in. My passion is teaching those eager to learn. When it comes to coding, there's a much larger scale of people peeking through the window to see what web development is like than ever before. I am here to open the shop door and invite the interested people in to take a look around and show them what the world of programming is all about.</p>

      <h2 class="p-heading"><code class="logo-brackets">{</code><code class="logo-spread">...</code><code class="logo-letters">My Mission</code><code class="logo-brackets">}</code></h2>

      <p class="mission-p">Giving people context of where to get started is absolutely essential to their success. They don't need much. All they need is a little snapshot of what "good" looks like. They just need a little nudge in the right direction to unleash their creativity and potential. All they need is a little <code class="logo-brackets">{</code><code class="logo-spread">...</code><code class="logo-letters">Context</code><code class="logo-brackets">}</code> to get started.</p>

      <h2 class="p-heading"><code class="logo-brackets">{</code><code class="logo-spread">...</code><code class="logo-letters">Call To Action</code><code class="logo-brackets">}</code></h2>
      <p class="mission-p">Teacher in search of student. Must have an earnest desire to learn a new skill. Interested? Please reach out to me! If you are serious about learning web development, then I am eager to give you the education that you deserve.</p>

    </section>

    <nav>
      <a class="nav-link" href="./index.html" ><i class="fas fa-angle-double-left"></i> Back To Main Page</a>
    </nav>

    <section class="page-section footer-section">
      <hr/>
      <h2 class="footer-header"><code class="logo-brackets">{</code><code class="logo-spread">...</code><code class="logo-letters">Finding Context</code><code class="logo-brackets">}</code></h2>
      <footer>

        <div class="find-us-list">

          <div class="find-us-list-item-wrapper">
            <a href="https://instagram.com/context_coding" target="__blank"><i class="fab fa-instagram-square fa-5x find-us-list-item"></i></a>
          </div>

          <div class="find-us-list-item-wrapper">
            <a href="https://www.facebook.com/contextcoding" target="__blank"><i class="fab fa-facebook-square fa-5x find-us-list-item"></i></a>
          </div>

          <div class="find-us-list-item-wrapper">
            <a href="https://www.linkedin.com/in/chase-linzmeyer/" target="__blank"><i class="fab fa-linkedin fa-5x find-us-list-item"></i></a>
          </div>

        </div>

        <p class="centered-p copyright">© Context Coding</p>
      </footer>
    </section>

  </div>
  
</body>

</html>